body {
    background-color: #99ffcc;
}


.links {
    float: right;
    margin: 5px 0px;
    padding-right: 33%;
    color: #ffffff;
    letter-spacing: 1px;
}
/*
h2 {
    font-size: 18px;
    margin: -20px -500px 20px;
    padding: 0px 500px 0px;
}
*/