body {
    background-color: #99ffcc;
}
.links {
    float: right;
    margin: 5px 0px;
    padding-right: 40%;
    color: #ffffff;
    letter-spacing: 1px;
}

img {
    padding-left: 2%;
    margin: 4% 5% 5% 3%;
    float: left;
    border-radius: 5%;
}

p {
    text-align: left;
    font-size: 140%;
    padding-bottom: 0%;
    padding-top: 1%;
    padding-left: 15% ;
    padding-right: 20%;
    margin-bottom: 5%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}


.logo {
    height: 15%;
    width: 15%;
    margin: 50px 50px 50px 300px;
    float: left;
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    margin: -20px -500px 20px;
    padding: 0px 500px 0px;
}



div {
position: relative;
top: 10%;
margin-top: 5%;
margin-bottom: 5%;
}