<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/about.css">
    <meta charset="UTF-8">
    <title>О ПЕРЕВОДЧИКЕ</title>
</head>
<body>
<div class="links">

            <a href="/">Home</a>

            <a href="/background">BACKGROUND</a>

            <a href="/sample">WRITING SAMPLE</a>

            <a href="/contact">CONTACT</a>

</div>
<div>

            <h1>Steven McGrath</h1>
<br>
           <h2> ATA-Certified Russian to English Translator, Iowa and Chicago Area</h2>
            <h2>Переводы с русского на английский в Айове и Чикаго</h2>
</div>
<hr width="100%">

<img src="/static/images/resize.JPG">
<div>
    <p>Стивен Мак Грат, родом из штата Айова, США, занимается переводами с

русского языка на английский. Имеет стаж более 5 лет. Окончил

магистратуру на историческом факультете Московского

Государственного Университете им. М.В. Ломоносова в 2012 г. Стивен

имеет богатый опыт, обладает широким кругозором. Переводил тексты

самых разных направлений, от официальных документов и

коммерческих веб-сайтов, до работ научного, журналистского, и

литературного профиля. Является сертифицированным членом

Американской ассоциации переводчиков (АТА).
    </p>
</div>
<img class="logo" src="/static/images/ATA_logo_web_ind.jpg">
<img class="cert" src="/static/images/E-CertStamp-533006-10.jpg">

</body>
</html>