<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Переводчике</title>
</head>
<body>
<div>
    <p>
        Стивен Мак Грат, родом из штата Айова, США, занимается переводами с русского языка на английский.
        Имеет стаж более 5 лет. Окончил магистратуру на историческом факультете Московского Государственного Университете им. М.В. Ломоносова в 2012 г. Стивен имеет богатый опыт, обладает широким кругозором.
        Переводил тексты самых разных направлений, от оффициальных документов и коммерческих веб-сайтов, до работ научного, журналистского, и литератруного профиля.
        Является действительным членом Американской ассоциации переводчиков (АТА).
    </p>
</div>
</body>
</html>