{% extends "base.html" %}

{% block content %}

<div>
    <H3>Background</H3>

</div>
 <hr width="100%">

<div class="background">

<p>
    Freelance translator, editor and consultant since 2010
     <br>
    <br>
    Certified as a Russian to English translator by the ATA since 2017. <a href="https://www.atanet.org/onlinedirectories/tsd_view.php?id=19764"><b>Find my listing in ATA’s online directory</b> </a>.
     <br>
    <br>
    Specializes in literary and legal translation, as well as app localization. <a href="/Services"><b>the Services page for more information</b> </a>.
     <br>
    <br>
    Currently serves as assistant administrator of Slavic Languages Division at the American Translators Association.
      <br>
    <br>
    Currently serves as associate editor of SlavFile, the publication of the Slavic Languages Division.
    

</p>


</div>

<div class="Education">
    <h3>
        <b>Education:</b>
    </h3>
    <h4>
        <b>2012: MA History, M. V. Lomonosov Moscow State University, Moscow, Russia</b>
    </h4>
    <ul>
    <li>
       Graduated Cum Laude
    </li>
        <li>
            Focused on immigration law and industrial development in the Soviet Union
        </li>
    </ul>
    <h4>
       <b>2009: Independent coursework in Russian to English Translation, University of Iowa, Iowa City, Iowa</b>
    </h4>
    <ul>
        <li>
            Final project required transcription and translation of a commercial film
        </li>
    </ul>
    <h4>
        <b>2008:   Bachelor of Arts- History and Russian, University of Northern Iowa, Cedar Falls, IA</b>
    </h4>
    <ul>
        <li>
            Graduated Cum Laude
        </li>
        <li>
           Included Study Abroad at KORA Center for Russian Language in Vladimir, Russia
        </li>
    </ul>
</div>

<div class="contact">
<p>
    <a href="/contact"><b>Contact me</b></a> if you have any questions about my background, or if you would like me to send my resume or curriculum vitae.
</p>

</div>
{% endblock %}