<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Background</title>
</head>
<body>
<div class="links">
    <ul>
         <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">ПЕРЕВОДЧИКЕ</a>
        </li>

         <li>
            <a href="/sample">WRITING SAMPLE</a>
        </li>
         <li>
            <a href="/contact">CONTACT</a>
        </li>
    </ul>
</div>
<div class="Education">
    <h1>
        Education:
    </h1>
    <h4>
        2012: MA History, M. V. Lomonosov Moscow State University, Moscow, Russia
    </h4>
    <ul>
    <li>
       Graduated Cum Laude (4.8 out of 5)
    </li>
        <li>
            Focused on immigration law and industrial development in the Soviet Union
        </li>
    </ul>
    <h4>
       2009: Independent coursework in Russian to English Translation, University of Iowa, Iowa City, Iowa
    </h4>
    <ul>
        <li>
            Final project required transcription and translation of a commercial film
        </li>
    </ul>
    <h4>
        2008:   Bachelor of Arts- History and Russian, University of Northern Iowa, Cedar Falls, IA
    </h4>
    <ul>
        <li>
            Graduated Cum Laude (3.68 out of 4)
        </li>
        <li>
           Included Study Abroad at KORA Center for Russian Language in Vladimir, Russia
        </li>
    </ul>
</div>
<div class="Experience">
    <h1>
        Experience:
    </h1>
    <h4>
      2010-present: Freelance Russian to English translator and editor. Translations have included:
    </h4>
    <ul>
        <li>
           Official documents for visa applications
        </li>
        <li>
            Company websites
        </li>
        <li>Journalistic and literary work<a href="/sample">(See Sample)</a></li>
    </ul>
    <h4>2010- 2017: English Teacher and Education Manager at schools in Moscow, Russia and Shanghai, China, including:</h4>
    <ul>
        <li>
            China Rencai Finance-HR Management, Shanghai, China
        </li>
        <li>
            Web International English, Shanghai, China
        </li>
        <li>
            Langwe Language School (formerly Prime School), Moscow, Russia.
        </li>
        <li>
            MBA City Learning Center, Moscow, Russia.
        </li>
        <li>
            Lomonosov Moscow State University, Moscow, Russia
        </li>
    </ul>
</div>
</body>
</html>