{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <!--<a href="https://www.amazon.com/Business-Negotiations-Mistakes-Dr-Lester/dp/1771925175/ref=sr_1_1?dchild=1&keywords=business+negotiation+mistakes+by+lev+lester&qid=1609176337&sr=8-1">-->
<img border="0" class="image"  alt="Business Guide" src="/static/images/41hWNlekhbL.jpg" width="100" height="100">
            Business Guide
</a>
    </div>
<div>
<h4><strong><u>BUSINESS NEGOTIATIONS MISTAKES</u> by Lev Lester</strong></h4>
<p>Everybody makes mistakes during business negotiations, whether they are experienced specialists or amateurs. Sometimes these mistakes cost us dearly. For twenty-five years, Lev Lester was a sales executive at American and German companies, negotiating in Russia, Europe and the U.S. For all those years, he tried to figure out how best to act during the negotiations process. In this book, he takes his experiences of victory and defeat and systematizes them into lessons for people to use in the boardroom and in everyday life.
</p>
</div>
    </div>
<div>

       <div>
        <a href="https://www.amazon.com/Capsule-Dystopian-Novel-Olga-Loukianova/dp/1091026238/ref=sr_1_1?dchild=1&keywords=the+capsule+by+Olga+Loukianova&qid=1609177306&sr=8-1">
<img border="0" class="image"  alt="Dystopian Novel" src="/static/images/61A2O5GUysL.jpg" width="100" height="100">
           Dystopian Novel
</a>
    </div>


<div>
    <h4><strong><u>THE CAPSULE</u> by Olga Loukianova</strong></h4>

    <p>Year 45 of the Age of Perfection. Liza, a comment moderator for a popular online show, lives in a 20-by-20 flying capsule perched in one compartment of a towering honeycomb. An all-powerful artificial intelligence, Systema, serves her every need. Systema protects the citizens from the deadly viruses and wild beasts that stalk the land; She tracks their mental health and prescribes suitable entertainment programs. When Liza wants to see her friends or family, she logs onto Net City, a safe and idyllic world of virtual reality.
        When Liza’s boyfriend dies under mysterious circumstances, she struggles to find the right questions in a world where all answers are provided. Desperate, she turns to her high school classmate, Alec, one of Systema’s programmers. How does a young man die in the Age of Perfection? Is somebody manipulating Systema behind the scenes? Are the avatars of Net City friends, enemies, or simply illusions? What lies beyond the plasma-screen walls of The Capsule? Learn more on the <a href="http://www.luckolga.com"><b>author’s website</b></a>.
        </p>
</div>
</div>

<div>

          <div>
        <!--<a href="https://www.amazon.com/How-Business-Done-Russia-Russian-American/dp/1090968906/ref=sr_1_1?dchild=1&keywords=HOW+BUSINESS+IS+DONE+IN+RUSSIA%3A+SECRETS+OF+A+RUSSIAN-AMERICAN+EXECUTIVE&qid=1609177464&sr=8-1">-->
<img border="0" class="image"  alt="Creative Nonfiction" src="/static/images/51F9rsAvTDL.jpg" width="100" height="100">
           Creative Nonfiction
</a>
    </div>

<div>
    <h4><strong><u>HOW BUSINESS IS DONE IN RUSSIA: SECRETS OF A RUSSIAN-AMERICAN EXECUTIVE</u> by Lev Lester</strong></h4>
    <p>Learn what Russian business leaders know but are afraid to talk about openly in this insider view of the Russian business world. Read case studies you never saw in any business, history or poli-sci class. Hear true stories of Russian business told in the unique, hard-boiled voice of Dr. Lev Lester, a key figure in rebuilding post-Soviet Russia’s auto industry. Find out how he beat the crooks at their own game.
        To help promote this book, I worked with Lev to create <a href="www.howbusinessisdoneinrussia.com">www.howbusinessisdoneinrussia.com</a>. 
        </p>
</div>

    </div>

<div>
             <div>
        <a href="https://www.amazon.com/Biosphere-Civilization-Throes-Global-Crisis/dp/3319671928/ref=sr_1_1?dchild=1&keywords=The+Biosphere+and+Civilization%3A+In+the+Throes+of+a+Global+Crisis&qid=1609177640&sr=8-1">
<img border="0" class="image"   alt="Science and Society" src="/static/images/41LSCXSixRL._SX331_BO1,204,203,200_.jpg" width="100" height="100">
           Science and Society
</a>
    </div>
<div>
    <h4><strong><u>The Biosphere and Civilization: In the Throes of a Global Crisis</u> by Victor Danilov-Danil’yan and Igor Reyf</strong></h4>
    <p>Why is the Earth not a cold metallic rock like Mars, or enshrouded in toxic clouds like Venus? The secret is life itself. The oxygen-rich air we breathe, the soil that feeds us, the fresh water carried effortlessly to the continental interior by plant transpiration — all of this is the work of a living membrane of ecosystems stretching over the globe. Over the eons, this network of ecosystems has evolved to shape the physical world to its needs, creating the sustainable biosphere that has enabled animal species, including humans, to thrive.
        The book The Biosphere and Civilization: In the Throes of a Global Crisis explores our society’s growing understanding of these complex, life-sustaining systems, which comes just at the moment when they are most at risk of being irrevocably destroyed. The destruction of forest ecosystems plays a particularly important role in destabilizing the biosphere, followed by air and water pollution. Not to be forgotten are the human struggles that have arisen from environmental degradation and overpopulation.
        </p>
</div>

</div>

<div>

    <p>Do you have a project in Russian that you would like to publish in English? <a href="/contact"><b>Contact me</b> </a> for a free consultation.</p>
    
    </div>
{% endblock %}