<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>
<div class="links">

            <a href="/">Home</a>

            <a href="/about">О ПЕРЕВОДЧИКЕ</a>

            <a href="/background">BACKGROUND</a>

            <a href="/sample">WRITING SAMPLE</a>

</div>
<div>
    <h1>Steven McGrath</h1>
<br>
    <h2> Russian to English Translator, Iowa and Chicago Area</h2>
    <h2>Переводы с русского на английский в Айове и Чикаго</h2>
</div>
<hr width="100%">

<div class="info">
    <h3>CELL:</h3>
    <p class="fa-phone">(+1) 319 430 9607</p>
    <h3>E-MAIL:</h3>
    <p class="fa-envelope"><a href="mailto:steven@mcgrathtranslations.com">steven@mcgrathtranslations.com</a></p>
</div>
<br>
<div>
    <p>Send me a free test piece of up to 300 words, and I’ll show you what I can do.</p>

    <p>Questions or comments welcome.</p>

    <p>To get a quote for a translation, please tell me about the type, subject,and length of the document, and the deadline by which the translation must be ready.</p>

    <p>Thank you for visiting!</p>
</div>
</body>
</html>