{% extends "base.html" %}
{% block content %}

<div class="text">
    <p>Steven McGrath is an <a href="http://www.atanet.org/">American Translators Association</a>-Certified Russian to English translator from Iowa City, Iowa. 
        He has over ten years of experience in translation. He received a master’s degree from Lomonosov Moscow State University, Russia’s most prominent educational institution.
        Steven is knowledgeable about a wide range of subjects and has welcomed translation projects of many varieties, from legal documents and mobile apps to works of journalism and literature, <a href="/Books"><b>including four published books</b></a>.
        He currently serves as assistant administrator of the ATA’s Slavic Languages Division.  If you would like to discuss a project with Steven, please see his <a href="/contact"><b>contact information</b> </a>.
    </p>
</div>
<div>
    <span style="position:relative; top:-30px;" >
            <img class="logo" src="/static/images/ATA_logo_web_ind.jpg">

    </span>
    <span style="position:relative; top:-50px; left:-200px;">
           <img class="cert" src="/static/images/E-CertStamp-533006-10.jpg">
    </span>
</div>
{% endblock %}