<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCGRATH TRANSLATIONS</title>
</head>
<body>
<div>
    <ul>
        <li>
            Steven McGrath
        </li>
        <li>
            Russian to English Translator, Iowa and Chicago Area
        </li>
        <li>
            Переводы с русского на английский в Айове и Чикаго
        </li>
    </ul>
</div>
<div>
    <p>
        Steven McGrath is a Russian to English translator from Iowa City, Iowa. He has over five years of experience in translation.
        He received a Master’s degree from Lomonosov Moscow State University, Russia’s most prominent educational institution.
        Steven is knowledgeable about a wide range of subjects and has welcomed translation projects of many varieties, from official documents and commercial websites to works of scholarship, journalism and literature.
        He is a member of the <a href="http://www.atanet.org/">American Translators Association</a>.
    </p>
</div>
</body>
</html>