{% extends "base.html" %}

{% block content %}
<div class="servicediv">
<div class="servicediv">
   <img border="0" class="service" alt="Dystopian Novel" src="/static/images/61A2O5GUysL.jpg" width="150px" height="150px">

</div>
    <div class="servicediv">
<h4><b>Literary Translation</b></h4>
<p>Would you like to see your Russian book, story or article in English? Send it to me. I love to read a good manuscript. 
    I help authors find the right English voice, staying faithful to the original while crafting a text with a natural and colloquial sound. I can also help you with the process of publishing your work in English. Learn more about my past literary translations on the <a href="/Books"><b>Books page</b></a>.
     See an example of my work on the <a href="/sample"><b>Writing Sample page</b> </a>.</p>
        </div>
</div>


<div class="servicediv">
<div class="servicediv">
    <img border="0" class="service" alt="Legal Translation" src="/static/images/C3 LOGO - MAIN-01 300x300.jpg" width="170px" height="170px">
</div>
    <div class="servicediv">
    <h4><b>Legal Translation</b></h4>
    <p>I have experience translating contracts, court records, legal notices, corporate charters and many other documents. When translating large volumes of legal text, I work with C3 Translators, a team with decades of legal translation experience led by another ATA-certified colleague, to deliver a high-quality result by the client's deadline. </p>
</div>
</div>

<div class="servicediv">
    <div class="servicediv">
    <img class="service" border="0"  alt="Apps" src="/static/images/Bini_Screen.jpg" width="15%" height="50%">
</div>
    <div class="servicediv">
    <h4><b>App Localization and Marketing</b></h4>
    <p>For your mobile app to succeed in the English-speaking market, you need a qualified native speaker to translate the scripts and promotional materials. Developers work hard to create apps, and the audience should see that hard work reflected naturally and professionally in their own language. That is what I strive for as a translator and consultant for developers. I have had particular success with Bini Bambini, a Ukrainian developer of children’s educational games.</p>
   </div>
    </div>

<div class="servicediv">

<p>I am open to working on projects in other areas as well. <a href="/contact"><b>Contact me</b> </a> for a free consultation about your project.</p>

</div>

{% endblock %}